* {
  margin: 0;

}


// #51B13E

body {
  // background: linear-gradient(to bottom, #414141, #292929);
  font-family: 'Open Sans', sans-serif;
  margin-inline: auto;
  // max-width: 1400px;
  // font-family: 'Ubuntu', sans-serif;

}
.section-background {
  background: linear-gradient(to bottom, #414141, #292929);

}

.menubar {
  padding: 15px 5vw;
  background-color: #292929;

  // width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    color: #51B13E;
  }

  &__top-links {
    // display: flex;
    // gap: 1rem;
    ul {
      display: flex;
      list-style-type: none;
      gap: 1rem;
      align-items: center;

      a {
        text-decoration: none;
        color: #7D7D7D;
      }
    }
  }

  &__right-links {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    p {
      color: white;
    }
  }

  @media (max-width: 764px) {
    &__top-links {
      display: none;
    }
    &__right-links {
      gap: 1rem;
    }
  }
}

.btn-green {
  padding: 0.5rem 1rem;
  background-color: #51B13E;
  color: black;
  border-radius: 12x;
  border: 2px solid #51B13E;
  cursor: pointer;
  font-size: 15px;
}

.btn-black {
  padding: 0.5rem 1rem;
  border: 2px solid #51B13E;
  color: #51B13E;
  border-radius: 12x;
  // background-color: ;
  // border: none;
  background-color: #414141;
  cursor: pointer;
  font-size: 15px;
}

.welcome {
  // background: linear-gradient(to bottom, #414141, #292929);

  margin-inline: auto;
  max-width: 1300px;
  // height: 100vh;
  display: flex;
  // min-width: 400px;


  &__promo-details {
    // width: 90vw;
    width: calc(50% - 120px);
    // padding: 60px 0 0;
    // padding-left: 5rem;
    // margin: auto;
    padding-top: 7rem;
    gap: 1rem;
    min-width: 350px;


    h1 {
      color: #51B13E;
      font-size: 35.2px;
      width: 75%;
      
    }

    p {
      padding: 2rem 0rem;
      color: #B4B4B4;
      width: 75%;

    }
    &__buttons {
      display: flex;
      // justify-content: space-evenly;
      justify-content: start;
      gap: 5.5rem;

      button {
      font-size: 20px;
    }}
  }

  &__art-work {

    max-width: 860px;
    display: flex;
    position: relative;
    padding-top: 1rem;
    align-items: center;

    &__image-container {

      &__one {
        max-width: 50%;
        min-width: 250px;

      }
      &__two {
        max-width: 400px;
      }
    }

    .img-1 {
      width: 100%;
      object-fit: cover;
    }

    
    .img-2 {
      width: 100%;
      object-fit: cover;
      // max-width: 380px;
      // height: auto;
    }

  }

  @media (max-width:1200px) {
    padding: 0rem 3rem;
  }

  @media (max-width:900px) {
    // padding: ;
    justify-content: space-evenly;
    &__promo-details {
      width: 50%;
      // padd
      

    }
    

    &__art-work {
      &__image-container {

        &__one {
          align-items: center;
          align-content: center;
          display: flex;
          width: 100%;
        }
        &__two {
          display: none;
        }

      }
    }
  }
  
  @media (max-width:764px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__promo-details{
      align-items: center;
      width: 80%;
      padding-bottom: 2rem;

      &__buttons {
        gap: 3rem;
      }

      h1 {
        width: 100%;
      }

      p {
        width: 100%;
      }
    }
  }

  @media (max-width:375px) {

  }



}

.cards {
  margin-inline: auto;
  max-width: 1100px;
  display: flex;

  // margin: 5rem;
  padding: 6rem 2rem;
  gap: 2.5rem;
  
  &__item {
    border: 1px solid gray;
    position: relative;
    border-radius: 10px;

    &__title-number {
      color: white;
      position: absolute;
      border: 1px solid gray;
      text-align: center;
      top: -35px;
      left: 20px;
      background-color: #292929;
      padding: .5rem;
      border-radius: 10px;
      font-size: 30px;

    }

    &__text {
      color: #B4B4B4;
      padding: 3rem 1.5rem;
    }
  }

  @media (max-width:764px) {
    flex-direction: column;
    gap: 4rem;
    // padding-bottom: 2rem;
  }
  
  
}

.tabs {
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
  color: #B4B4B4;
  // margin: 50px 0px; 
  padding-bottom: 3rem;

  a {
    text-decoration: none;
    color: #51B13E;
  }

  &__header {
    width: 30%;
    // padding-right: .5rem;
    // border-right: 3px solid darkblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // gap: 2rem;

    p {
      cursor: pointer;
      // border: 2px solid red;
      min-height: 5rem;
      display: flex;
      align-items: center;
      color: gray;
      font-weight: bold;
      // min-width: 100px;
    }

    p.selected {
        border-left: 5px solid #51B13E;
        padding-left: 25px;
        color: white;
    }
    
  }

  &__body {
    width: 80%;

    p {
      padding-bottom: 1rem;
      // color:#919191;
    }

  
  }

  &__content {
    /* //animation */
    transition: transform 250ms ease-in-out;
    transform: translateY(-50%);
    /* //opacity and max-height are 0 to hide not active porjects */
    opacity: 0;
    max-height: 0;

    
  }
  
  &__content.selected {
    opacity: 1;
    transform: translateY(0);
    /* //change this number if the text or image is out of the ::-webkit-textfield-decoration-container */
    /* //it is set for smooth animation */
    max-height: 1000px;
    display: flex;
    gap: 2rem;
    align-items: center;
    
  }

  @media (max-width:1200px) {
    padding: 1rem 2rem;

  }
  
  
  @media (max-width:764px) {
    // .tabs {
      // display: flex;
    flex-direction: column;
    // padding: 0rem 0rem 2rem 0rem;
    // padding: 0rem 2rem;
    // padding-bottom: 3rem;
    padding: 1rem 2rem 6rem 2rem;

    &__header {
      // border-right: none;
      flex-direction: row;
      gap: 2rem;
      width: 100%;
      justify-content: start;
      overflow-x: auto;
      /* width: 100%; */
      margin-bottom: 2rem;

      p {
        min-width: 100px;

      }
              
      p.selected {
        /* margin: 1rem; */
        border-left: none;
        padding-left: 0;
        border-top: 5px solid #51B13E;
        padding-top: 25px;
        
        // padding-left: 25px;
        

      }
    }

     

    &__content {
        transition: transform 250ms ease-in-out;
        transform: translateX(-50%);
        /* transform: translateX(0); */
    }
    /* .tabs__content.selected {
        transform: none;
        transition: none;

    } */
    &__textarea {
        overflow: auto;
    }

    &__body{
      
    }
  }
  
}

.integration {
  max-width: 100%;
  margin-inline: auto;
  max-height: 80vh;
  // min-height: 70vh;

  background-color: #444444;
  display: flex;
  align-items: center;
  flex-direction: column;
  // padding: 5rem;
  justify-content: center;
  padding: 3rem 2rem;


  h2 {
    font-size: 30px;
    color: white;
  }
  
  
  &__grid {
    display: grid;
    width: 1100px;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(7,1fr);
    // margin: 60px auto;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 3rem;

    a {
      text-decoration: none;
      background-color: rgb(35, 35, 66);
      display: flex;

      &:hover{
        transition: transform 250ms ease-in-out;
        transform: translateY(-10px);
        
        
      }
        // &:after {
        //   transition: transform 350ms ease-out;
        //   // transform: translateY(-10px);  // }

    } 
    p {
      // display: flex;
      position: absolute;
      bottom: -60px;
      background-color: rgb(35, 35, 66);
      color: white;
      padding: 2px 17px;
      border-radius: 100px;
    }

    .svg-link {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      background-repeat: no-repeat;
      background-position: center;
      min-width: 50px;
      min-height: 50px;
      background-size: contain;
      border-radius: 1000px;
      border: 30px solid rgb(35, 35, 66);
      // box-shadow: 0 20px 30px yellow;

     
    }
    
    
    .svg-link.logo1 {
      // background-image: url("https://25971556.fs1.hubspotusercontent-eu1.net/hubfs/25971556/PSI/social-media-logos/blender-original.svg");
    }

    .logo1 {
      grid-column: 5/7;
      grid-row: 4/7;
      background-image: url("https://25971556.fs1.hubspotusercontent-eu1.net/hubfs/25971556/PSI/social-media-logos/blender-original.svg");

      // width: 100%;
    }

    .logo2 {
      grid-column: 3/8;
      grid-row: 1/4;
      background-image: url("https://25971556.fs1.hubspotusercontent-eu1.net/hubfs/25971556/PSI/social-media-logos/blender-original.svg");

    }

    .logo3 {
      grid-column: 8/11;
      grid-row: 9/5;
      background-image: url("https://25971556.fs1.hubspotusercontent-eu1.net/hubfs/25971556/PSI/social-media-logos/blender-original.svg");

    }

    .logo4 {
      grid-column: 8/10;
      grid-row: 1/5;
      background-image: url("https://25971556.fs1.hubspotusercontent-eu1.net/hubfs/25971556/PSI/social-media-logos/blender-original.svg");

    }
    
    .logo5 {
      grid-column: 2/5;
      grid-row: 1/5;
      background-image: url("https://25971556.fs1.hubspotusercontent-eu1.net/hubfs/25971556/PSI/social-media-logos/blender-original.svg");

    }

    .logo6 {
      grid-column: 12/10;
      grid-row: 1/7;
      background-image: url("https://25971556.fs1.hubspotusercontent-eu1.net/hubfs/25971556/PSI/social-media-logos/blender-original.svg");

    }
    
    .logo7 {
      grid-column: 3/5;
      grid-row: 4/8;
      background-image: url("https://25971556.fs1.hubspotusercontent-eu1.net/hubfs/25971556/PSI/social-media-logos/blender-original.svg");

    }

    .logo8 {
      grid-column: 7/8;
      grid-row: 5/8;
      background-image: url("https://25971556.fs1.hubspotusercontent-eu1.net/hubfs/25971556/PSI/social-media-logos/blender-original.svg");

    }
    
    .logo9 {
      grid-column: 1/3;
      grid-row: 3/7;
      background-image: url("https://25971556.fs1.hubspotusercontent-eu1.net/hubfs/25971556/PSI/social-media-logos/blender-original.svg");

    }
    .logo10 {
      grid-column: 5/10;
      grid-row: 5/2;
      background-image: url("https://25971556.fs1.hubspotusercontent-eu1.net/hubfs/25971556/PSI/social-media-logos/blender-original.svg");

    }
  }
  
  @media (max-width:1200px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    // width: 100%;
    max-width: 100%;
    // padding: 3rem 2rem;

    // margin: 50px auto 0;

    &__grid {
     

      display: flex;
      // width: 1100px;
      grid-template-columns: repeat(5,1fr);
      grid-template-rows: repeat(2,1fr);
      // margin: 60px auto;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin: 1rem;
      max-height: 1000px;

      // gap: 2rem;
      row-gap: 2rem;

      .logo1 {
        grid-column: 1;
        grid-row: 1;
        // width: 100%;
      }
      .logo2 {
        grid-column: 2;
        grid-row: 1;
      }
  
      .logo3 {
        grid-column: 3;
        grid-row: 1;
      }
  
      .logo4 {
        grid-column: 4;
        grid-row: 1;
      }
      
      .logo5 {
        grid-column: 5;
        grid-row: 1;
      }
  
      .logo6 {
        grid-column: 1;
        grid-row: 2;
      }
      
      .logo7 {
        grid-column: 2;
        grid-row: 2;
      }
  
      .logo8 {
        grid-column: 3;
        grid-row: 2;
      }
      
      .logo9 {
        grid-column: 4;
        grid-row: 2;
      }
      .logo10 {
        grid-column: 5;
        grid-row: 2;
      }

    }
    
  }

  @media (max-width:900px) {
    padding: 2.5rem 0rem;
    max-height: 100%;

    &__grid {
      padding: 2rem 2rem 5rem 2rem;
      margin: 0;
      gap: 2.5rem;
    }
  }
  
}

.videos {
  background-color: #333333;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2.5rem;

  .iframe-container {
    // border: 1px solid red;
    // max-width: 900px;
    // max-height: 10%;
    width: 60%;
    // width: 900px;
    height: 500px;
    max-width: 900px;
    padding-top: 30%;
    // padding-bottom: 75%;
    height: 0px;
    position: relative;
  }

  iframe {

    // max-width: 900px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    // min-height: 500px;
    // height: ;
    // height: 500px;
    // height: auto;
    // display: block;
    // // max-height: 900px;
    // min-height: 500px;
    // border: 1px solid red;
  }

  &__vid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 1px solid red;

    &__title {
      display: flex;
      justify-content: center;
      font-size: 20px;
      color: white;
      padding: 1.5rem;
    }
  }

  @media (max-width: 1200px) {
    .iframe-container {
      width: 80%;
      // min-height: 200px;
      min-height: 150px;
    }

  }

  @media (max-width: 900px) {
    .iframe-container {
      width: 80%;
      min-height: 100px;
      // min-height: 200px;
    }
  }
  
}

.docs-background {
  background-color: #444444;

}
.docs {
  max-width: 1100px;
  // background-color: #444444;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  padding: 4rem 0rem;
  align-items: center;
  gap: 1.5rem;

  a {
    text-decoration: none;
    color: #51B13E;
  }

  &__text {
    width: 40%;
    color: white;
    // gap: 2rem;

    h2 {
      padding: 2rem 0rem 1rem 0rem;
      font-size: 30px;
    }

    p {
      padding: 1.2rem 0rem;
    }
  }

  &__image {
    // width: 60%;
    max-width: 600px;
    // max-height: 300px;
    border-radius: 10px;
    overflow: hidden;
    align-items: center;
    // padding: 5rem 0rem;
    min-width: 200px;


    img {
      width: 100%;
      object-fit: cover;
    }
  }

  @media (max-width:1200px) {
    &__image {
      max-width: 400px;
    }
  }

  @media (max-width:900px) {
    &__image {
      max-width: 350px;
      padding: 2rem;

    }
  }
  
  @media (max-width:764px) {
    flex-direction: column-reverse;
    padding: 2rem;

    // width: 80%;
    &__text {
      width: 80%;

      h2 {
        padding-top: 0rem;
      }
    }

    &__image {
      max-width: 500px;
        
    }


  }
  
}

.join-community {
  background-color: #292929;
  // max-width: 1400px;
  // margin-inline: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  padding: 0rem 2rem 5rem 2rem;

  a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    min-width: 65px;
    max-width: 70px;

    
  }

  .logo-svg {
    width: 50px;
    height: 50px;
    padding-top: 1rem;
    // color: white;
    
  }
  // .twitter {
  //   height: 55px;
  //   width: 55px;
  // }
  
  &__link-list {
    padding-top: 1rem;
    gap: 1rem;
    padding-left: 0px;
    // justify-content: center;
  }
  

  &__text {
    max-width: 1100px;
    margin-inline: auto;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 30px;
      padding-bottom: 2rem;
    }

    ul {
      display: flex;
      list-style: none;
      justify-content: center;
    }

  }
  

  @media(max-width:764px) {
    &__link-list {
      padding-left: 0px;
    }

    // a {
    //   min-width: 60px;
    // }

    
  }
  
}

footer {
  background-color: #003822;
  padding: 5rem 0rem 4rem 0rem;
  // max-width: 1400px;
  // margin-inline: auto;
  // display: flex;
  // justify-content: space-between;

  .text {
    display: flex;
    max-width: 1100px;
    margin-inline: auto;
    justify-content: space-evenly;
    color: white;
    gap: 2rem;

    a {
      text-decoration: none;
      color: white;
      // font-size: 15px;
    }

    ul {
      list-style: none;
      color: #FFFFFF;
      font-size: 0.8rem;
      gap: 0.5rem;
    }


    .title {
      font-weight: bold;
      padding-bottom: 1rem;
      font-size: 0.9rem;
    }
  }

  @media (max-width:1200px) {
    padding: 2rem;
  }
  
  @media (max-width:700px) {
  // padding: 5rem 2rem 4rem 2rem;
    padding: 2rem;
  // flex-direction: column;
  // flex-wrap: wrap;

    .text {
      row-gap: 1rem;
      // flex-direction: column;
      justify-content: space-around;
      flex-wrap: wrap;
      // justify-content: space-around;
      // min-width: 25%;
      // flex-direction: column;
      // display: flex;
    }

  }

  @media (max-width:375px) {
    .text {
      flex-direction: column;
      align-items: center;
      gap: 3rem;
      ul {
        // padding-left: 0px;
        // padding: 0px;
        min-width: 150px;
        display: flex;
        flex-direction: column;

      }
      
    }
  }
  
}

